@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');


#background
{
    width: 100%;
    height: 100%;
    background-image: url('https://wallpapersmug.com/u/68bd59/gta-v-video-game-buildings-cityscape.jpg');
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    animation: breath 60s ease-in-out alternate infinite;
    background-position: 0px 0px;
    filter: blur(5px);
    display: block;
}


html, body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #130707;
}

.discord {
  position:fixed;
  bottom:5px;
  right:5px;
  z-index:99;
  animation: fadeIn 2s, fadeinGlow 4s;
  animation-fill-mode: forwards;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.image3 {
  position: fixed;
  bottom: 5px;
  right: 60px;
  z-index:99;
  animation: fadeIn 2s, fadeinGlow 4s;
  animation-fill-mode: forwards;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.column {
  z-index: 99;
  float: right;
  width: 30.33%;
  padding:35px;
}


.discord:hover {opacity: 0.6}
.image3:hover {opacity: 0.6}

@keyframes fadeinGlow {
  from{
      filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0));
  }
  to{
      filter: drop-shadow(0px 0px 25px rgb(4, 0, 255));
  }
}

@keyframes breath {
  from { 
    transform: scale(1);
  }
  to {
    transform: scale(1.7)
  }
}


.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #130707;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader-inner {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}